.number-controller-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .component-container {
        width: auto;
        max-width: 200px;
        display: flex;
        justify-content: center;
    }
}